@using Web.Models.Account

@model LoginVM

@{
	ViewBag.Title = "Login";
}

<div class="container d-flex flex-column">
	<div class="row vh-100">
		<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
			<div class="d-table-cell align-middle">				
				<div class="card">
					<div class="card-header bg-transparent pb-0">
						<div class="text-center mt-3">
							<h1 class="h2">Hello, there!</h1>
							<p class="lead">
								Sign in to your account to continue
							</p>
						</div>
					</div>
					<div class="card-body">
						<div class="mt-sm-0 m-sm-4">
                            <div class="text-center">
								<img src="~/img/medical/pharmacy-second.png" alt="user profile" class="img-fluid" width="132" height="132" />
							</div>
							<form method="post">
								<div class="mb-3">
									<label asp-for="Email" class="form-label">Email</label>
									<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your username or email" />
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="mb-3">
									<label asp-for="Password" class="form-label">Password</label>
									<input asp-for="Password" class="form-control" autocomplete="password" aria-required="true" placeholder="Enter your password" />
									<span asp-validation-for="Password" class="text-danger"></span>
									<small>
										<a href="pages-reset-password.html">Forgot password?</a>
									</small>
								</div>
								<div>
									<label class="form-check">
										<input class="form-check-input" asp-for="RememberMe" />
										<span class="form-check-label">
											Remember me
										</span>
									</label>
								</div>
								<div>
									<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
								</div>
								<div class="text-center mt-3">
									<button type="submit" class="btn btn-lg btn-primary w-100">Login</button>
								</div>
								<div>
									<p class="m-0 text-muted fs-8rem mt-2">
										Haven't create an account?
										<a class="text-decoration-none" asp-action="Register">Click here</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>