@using Web.Models.Account

@model RegisterVM

@{
	ViewBag.Title = "Register";
}

<div class="container d-flex flex-column">
	<div class="row vh-100">
		<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
			<div class="d-table-cell align-middle">
				<div class="card">
					<div class="card-header bg-transparent pb-0">
						<div class="text-center mt-3">
							<h1 class="h2">Get started</h1>
							<p class="lead">
								Sign up your new account
							</p>
						</div>
					</div>
					<div class="card-body">
						<div class="mt-sm-0 m-sm-4">
							<div class="text-center">
								<img src="~/img/medical/pharmacy-second.png" alt="user profile" class="img-fluid" width="132" height="132" />
							</div>
							<form method="post">
								<div class="mb-3">
									<label asp-for="Email">Email</label>
									<input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter your name" />
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="row mb-3">
									<div class="col-12 col-sm-6">
										<div>
											<label asp-for="FirstName">First Name</label>
											<input asp-for="FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Enter your first name" />
											<span asp-validation-for="FirstName" class="text-danger"></span>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div>
											<label asp-for="LastName">Last Name</label>
											<input asp-for="LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Enter your last name" />
											<span asp-validation-for="LastName" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-12 col-sm-6">
										<div>
											<label asp-for="UserName">Username</label>
											<input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your username" />
											<span asp-validation-for="UserName" class="text-danger"></span>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div>
											<label asp-for="PhoneNo">Phone No</label>
											<input asp-for="PhoneNo" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your phone no" />
											<span asp-validation-for="PhoneNo" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="mb-3">
									<label asp-for="Address">Address</label>
									<textarea asp-for="Address" class="form-control" rows="3" autocomplete="email" aria-required="true" placeholder="Enter your address"></textarea>
									<span asp-validation-for="Address" class="text-danger"></span>
								</div>
								<div class="row mb-3">
									<div class="col-12 col-sm-6">
										<div>
											<label asp-for="Password">Password</label>
											<input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your password" />
											<span asp-validation-for="Password" class="text-danger"></span>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div>
											<label asp-for="ConfirmPassword">Confirm Password</label>
											<input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
											<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div>
									<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
								</div>
								<button id="registerSubmit" type="submit" class="btn btn-lg btn-primary w-100">Register</button>
								<div>
									<p>
										Already Have an Account? <a asp-action="Login">Login</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>