USE [master]
GO
/****** Object:  Database [IMS_DB]    Script Date: 6/28/2025 9:03:29 AM ******/
CREATE DATABASE [IMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMS_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMS_DB]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/28/2025 9:03:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ProfilePicPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewUsersVsRoles]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                CREATE VIEW [dbo].[ViewUsersVsRoles] AS
                SELECT 
                    dbo.AspNetUserRoles.UserId, 
                    dbo.AspNetUserRoles.RoleId, 
                    dbo.AspNetUsers.FirstName, 
                    dbo.AspNetUsers.LastName, 
                    dbo.AspNetUsers.UserName, 
                    dbo.AspNetUsers.Email, 
                    dbo.AspNetUsers.IsApproved, 
                    dbo.AspNetRoles.Name AS RoleName, 
                    dbo.AspNetRoles.NormalizedName AS RoleNormalizedName
                FROM dbo.AspNetUserRoles
                INNER JOIN dbo.AspNetRoles ON dbo.AspNetUserRoles.RoleId = dbo.AspNetRoles.Id
                INNER JOIN dbo.AspNetUsers ON dbo.AspNetUserRoles.UserId = dbo.AspNetUsers.Id
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[DiseaseId] [int] IDENTITY(1,1) NOT NULL,
	[PatientUuid] [nvarchar](450) NULL,
	[DiseaseTypeId] [int] NOT NULL,
	[DoctorId] [nvarchar](450) NULL,
	[DiseaseSpec] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Diseases] PRIMARY KEY CLUSTERED 
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseaseTypes]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseTypes](
	[DiseaseTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_DiseaseTypes] PRIMARY KEY CLUSTERED 
(
	[DiseaseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageTypeId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileContent] [varbinary](max) NOT NULL,
	[MimeType] [nvarchar](max) NOT NULL,
	[Condition] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[StaffId] [int] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageTypes]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageTypes](
	[ImageTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ImageTypes] PRIMARY KEY CLUSTERED 
(
	[ImageTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsSections]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsSections](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[Section] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_OsSections] PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsStatuss]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsStatuss](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_OsStatuss] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PateintId] [int] IDENTITY(1,1) NOT NULL,
	[PatientUuid] [nvarchar](450) NOT NULL,
	[InChargeuUud] [nvarchar](450) NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IdentityNo] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[IsDischarged] [bit] NOT NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[WardNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PateintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[Medicines] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffUuid] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IdentityNo] [nvarchar](max) NULL,
	[Educations] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[Salary] [decimal](18, 2) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Designation] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Staffs] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatementItems]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatementItems](
	[StatementItemId] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[StatementId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StatementItems] PRIMARY KEY CLUSTERED 
(
	[StatementItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statements]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statements](
	[StatementId] [int] IDENTITY(1,1) NOT NULL,
	[PatientUuid] [nvarchar](450) NULL,
	[StatusId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[IsGenerated] [bit] NOT NULL,
	[IsSent] [bit] NOT NULL,
	[AddedById] [nvarchar](450) NULL,
	[UpdatedById] [nvarchar](450) NULL,
	[AddedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Statements] PRIMARY KEY CLUSTERED 
(
	[StatementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserUuid] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[NormalizedUserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[NormalizedEmail] [nvarchar](max) NULL,
	[LockoutEnd] [datetime2](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ProfilePicPath] [nvarchar](max) NULL,
	[AddedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[EmailConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241222164513_InitialMigration', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241225054403_UsersSectionMigration', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241229123125_AddViewUsersVsRoles', N'8.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'36411069-21e1-49ea-b2ba-b4b190913bd7', N'Surgeon', N'SURGEON', N'7af478d0-cffc-4cdd-8baf-1402651ebcfa')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5b7bd483-5a1e-4e6a-b04b-7ef6ebf6fc02', N'Patient', N'PATIENT', N'f37ea84d-8217-4900-b492-a23ca2a123b5')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'62871a7b-3476-420a-b58f-9d18879a6485', N'Doctor', N'DOCTOR', N'21e84c75-2af7-4c03-b4a5-e1160f9cdd15')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bc9232a7-51f6-4b36-8806-f44077552542', N'36411069-21e1-49ea-b2ba-b4b190913bd7')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'01e90098-40ad-4890-9731-6c705ebbd782', N'5b7bd483-5a1e-4e6a-b04b-7ef6ebf6fc02')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'59ae8b50-43cc-45ce-840d-560f1eca1919', N'5b7bd483-5a1e-4e6a-b04b-7ef6ebf6fc02')
GO
SET IDENTITY_INSERT [dbo].[Diseases] ON 

INSERT [dbo].[Diseases] ([DiseaseId], [PatientUuid], [DiseaseTypeId], [DoctorId], [DiseaseSpec], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (1, N'970ff11f-2591-4d3e-9cd7-330c212cfc25', 1, N'f13bcfc4-0c91-459c-ab9c-274db6c73248', N'Cold fever', N'test dieases added', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-12T14:27:26.1026951' AS DateTime2), CAST(N'2025-01-14T22:44:06.3801201' AS DateTime2), 0)
INSERT [dbo].[Diseases] ([DiseaseId], [PatientUuid], [DiseaseTypeId], [DoctorId], [DiseaseSpec], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (2, N'01e90098-40ad-4890-9731-6c705ebbd782', 1, N'f13bcfc4-0c91-459c-ab9c-274db6c73248', N'testt', N'ewe', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T20:19:36.3137433' AS DateTime2), CAST(N'2025-01-14T20:19:36.3144884' AS DateTime2), 0)
INSERT [dbo].[Diseases] ([DiseaseId], [PatientUuid], [DiseaseTypeId], [DoctorId], [DiseaseSpec], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (4, N'59ae8b50-43cc-45ce-840d-560f1eca1919', 5, N'bc9232a7-51f6-4b36-8806-f44077552542', N'Test disease description', NULL, N'f13bcfc4-0c91-459c-ab9c-274db6c73248', N'f13bcfc4-0c91-459c-ab9c-274db6c73248', CAST(N'2025-04-21T19:21:20.3806504' AS DateTime2), CAST(N'2025-04-21T19:21:20.3806811' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Diseases] OFF
GO
SET IDENTITY_INSERT [dbo].[DiseaseTypes] ON 

INSERT [dbo].[DiseaseTypes] ([DiseaseTypeId], [TypeName], [Description], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (1, N'Fever', N'test', N'ftt', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-10T18:01:06.1571060' AS DateTime2), CAST(N'2025-01-10T19:10:45.1716162' AS DateTime2), 0)
INSERT [dbo].[DiseaseTypes] ([DiseaseTypeId], [TypeName], [Description], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (2, N'Blood Cancer', N'test', NULL, N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T20:23:52.0264416' AS DateTime2), CAST(N'2025-01-14T20:23:52.0264726' AS DateTime2), 0)
INSERT [dbo].[DiseaseTypes] ([DiseaseTypeId], [TypeName], [Description], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (3, N'Brain Cancer', NULL, NULL, N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T22:19:52.3974752' AS DateTime2), CAST(N'2025-01-14T22:19:52.3984481' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[DiseaseTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageTypes] ON 

INSERT [dbo].[ImageTypes] ([ImageTypeId], [TypeName], [Description], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (1, N'CTC', N'test ctc', N'add', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-10T19:10:27.3281997' AS DateTime2), CAST(N'2025-01-10T19:10:27.3300717' AS DateTime2), 1)
INSERT [dbo].[ImageTypes] ([ImageTypeId], [TypeName], [Description], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (2, N'X-RAY', N'xtray image ', NULL, N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T20:23:00.3088008' AS DateTime2), CAST(N'2025-01-14T20:23:00.3088309' AS DateTime2), 1)
INSERT [dbo].[ImageTypes] ([ImageTypeId], [TypeName], [Description], [Comments], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (5, N'Test Image T', N'Test image t added for testing', NULL, N'89f5340c-9761-4c83-8887-640094af9450', N'89f5340c-9761-4c83-8887-640094af9450', CAST(N'2025-01-20T23:33:25.4708678' AS DateTime2), CAST(N'2025-01-20T23:33:25.4709387' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ImageTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[OsSections] ON 

INSERT [dbo].[OsSections] ([SectionId], [Section], [Description], [IsActive]) VALUES (1, N'Statement', N'StatementRelated', 1)
SET IDENTITY_INSERT [dbo].[OsSections] OFF
GO
SET IDENTITY_INSERT [dbo].[OsStatuss] ON 

INSERT [dbo].[OsStatuss] ([StatusId], [SectionId], [Status], [Description], [IsActive]) VALUES (10, 1, N'Pending', NULL, 1)
INSERT [dbo].[OsStatuss] ([StatusId], [SectionId], [Status], [Description], [IsActive]) VALUES (11, 1, N'Paid', NULL, 1)
SET IDENTITY_INSERT [dbo].[OsStatuss] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[StatementItems] ON 

INSERT [dbo].[StatementItems] ([StatementItemId], [DiseaseId], [StatementId], [Description], [TotalCost], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (22, 1, 1, N'Panadol cost', CAST(100.00 AS Decimal(18, 2)), N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T22:56:46.1079789' AS DateTime2), CAST(N'2025-01-14T22:56:46.1080326' AS DateTime2), 0)
INSERT [dbo].[StatementItems] ([StatementItemId], [DiseaseId], [StatementId], [Description], [TotalCost], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (23, 1, 1, N'test', CAST(500.00 AS Decimal(18, 2)), N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-15T19:10:46.2048372' AS DateTime2), CAST(N'2025-01-15T19:10:46.2065177' AS DateTime2), 0)
INSERT [dbo].[StatementItems] ([StatementItemId], [DiseaseId], [StatementId], [Description], [TotalCost], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (24, 1, 1, N'Doctor fee', CAST(500.00 AS Decimal(18, 2)), N'89f5340c-9761-4c83-8887-640094af9450', N'89f5340c-9761-4c83-8887-640094af9450', CAST(N'2025-01-20T23:40:05.9767260' AS DateTime2), CAST(N'2025-01-20T23:40:05.9768214' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[StatementItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Statements] ON 

INSERT [dbo].[Statements] ([StatementId], [PatientUuid], [StatusId], [Description], [TotalCost], [IsGenerated], [IsSent], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (1, N'970ff11f-2591-4d3e-9cd7-330c212cfc25', 11, N'Test', CAST(1100.00 AS Decimal(18, 2)), 0, 0, N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T13:03:56.7024896' AS DateTime2), CAST(N'2025-01-14T14:02:45.5837231' AS DateTime2), 0)
INSERT [dbo].[Statements] ([StatementId], [PatientUuid], [StatusId], [Description], [TotalCost], [IsGenerated], [IsSent], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (6, N'01e90098-40ad-4890-9731-6c705ebbd782', 10, N'test', NULL, 0, 0, N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', N'4de5b1c9-85fa-45ac-bf0a-f609318b4d94', CAST(N'2025-01-14T15:57:45.8872010' AS DateTime2), CAST(N'2025-01-14T15:57:45.8882183' AS DateTime2), 0)
INSERT [dbo].[Statements] ([StatementId], [PatientUuid], [StatusId], [Description], [TotalCost], [IsGenerated], [IsSent], [AddedById], [UpdatedById], [AddedDate], [UpdatedDate], [IsActive]) VALUES (7, N'59ae8b50-43cc-45ce-840d-560f1eca1919', 10, N'Consultant fee', CAST(1600.00 AS Decimal(18, 2)), 0, 0, N'f13bcfc4-0c91-459c-ab9c-274db6c73248', N'f13bcfc4-0c91-459c-ab9c-274db6c73248', CAST(N'2025-04-21T19:22:48.2374832' AS DateTime2), CAST(N'2025-04-21T19:22:48.2375116' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Statements] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserUuid], [FirstName], [LastName], [Address], [PhoneNo], [IsApproved], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [LockoutEnd], [LockoutEnabled], [AccessFailedCount], [ProfilePicPath], [AddedDate], [UpdatedDate], [EmailConfirmed]) VALUES (5, N'970ff11f-2591-4d3e-9cd7-330c212cfc25', N'Samith', N'Mohammed', N'Kinniya, Sri Lanka', N'0712345675', 1, N'samith', N'SAMITH', N'samith@gmail.com', N'SAMITH@GMAIL.COM', NULL, 1, 0, NULL, CAST(N'2025-01-06T18:15:25.0566667' AS DateTime2), CAST(N'2025-01-12T10:18:08.0566667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Diseases_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Diseases_AddedById] ON [dbo].[Diseases]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Diseases_DiseaseTypeId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Diseases_DiseaseTypeId] ON [dbo].[Diseases]
(
	[DiseaseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Diseases_DoctorId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Diseases_DoctorId] ON [dbo].[Diseases]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Diseases_PatientUuid]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Diseases_PatientUuid] ON [dbo].[Diseases]
(
	[PatientUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Diseases_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Diseases_UpdatedById] ON [dbo].[Diseases]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DiseaseTypes_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_DiseaseTypes_AddedById] ON [dbo].[DiseaseTypes]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DiseaseTypes_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_DiseaseTypes_UpdatedById] ON [dbo].[DiseaseTypes]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Images_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Images_AddedById] ON [dbo].[Images]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Images_DiseaseId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Images_DiseaseId] ON [dbo].[Images]
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Images_ImageTypeId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Images_ImageTypeId] ON [dbo].[Images]
(
	[ImageTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Images_StaffId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Images_StaffId] ON [dbo].[Images]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Images_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Images_UpdatedById] ON [dbo].[Images]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImageTypes_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ImageTypes_AddedById] ON [dbo].[ImageTypes]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ImageTypes_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ImageTypes_UpdatedById] ON [dbo].[ImageTypes]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OsStatuss_SectionId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_OsStatuss_SectionId] ON [dbo].[OsStatuss]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Patients_PatientUuid]    Script Date: 6/28/2025 9:03:30 AM ******/
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [AK_Patients_PatientUuid] UNIQUE NONCLUSTERED 
(
	[PatientUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patients_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patients_AddedById] ON [dbo].[Patients]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patients_InChargeuUud]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patients_InChargeuUud] ON [dbo].[Patients]
(
	[InChargeuUud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patients_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patients_UpdatedById] ON [dbo].[Patients]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Prescriptions_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_AddedById] ON [dbo].[Prescriptions]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescriptions_DiseaseId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_DiseaseId] ON [dbo].[Prescriptions]
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Prescriptions_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_UpdatedById] ON [dbo].[Prescriptions]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Staffs_StaffUuid]    Script Date: 6/28/2025 9:03:30 AM ******/
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [AK_Staffs_StaffUuid] UNIQUE NONCLUSTERED 
(
	[StaffUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staffs_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Staffs_AddedById] ON [dbo].[Staffs]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staffs_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Staffs_UpdatedById] ON [dbo].[Staffs]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StatementItems_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_StatementItems_AddedById] ON [dbo].[StatementItems]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatementItems_DiseaseId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_StatementItems_DiseaseId] ON [dbo].[StatementItems]
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatementItems_StatementId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_StatementItems_StatementId] ON [dbo].[StatementItems]
(
	[StatementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StatementItems_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_StatementItems_UpdatedById] ON [dbo].[StatementItems]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Statements_AddedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Statements_AddedById] ON [dbo].[Statements]
(
	[AddedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Statements_PatientUuid]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Statements_PatientUuid] ON [dbo].[Statements]
(
	[PatientUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Statements_StatusId]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Statements_StatusId] ON [dbo].[Statements]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Statements_UpdatedById]    Script Date: 6/28/2025 9:03:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Statements_UpdatedById] ON [dbo].[Statements]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Users_UserUuid]    Script Date: 6/28/2025 9:03:30 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [AK_Users_UserUuid] UNIQUE NONCLUSTERED 
(
	[UserUuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Staffs] ADD  DEFAULT (N'') FOR [Designation]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_Diseases_DiseaseTypes_DiseaseTypeId] FOREIGN KEY([DiseaseTypeId])
REFERENCES [dbo].[DiseaseTypes] ([DiseaseTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_Diseases_DiseaseTypes_DiseaseTypeId]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_Diseases_Patients_PatientUuid] FOREIGN KEY([PatientUuid])
REFERENCES [dbo].[Patients] ([PatientUuid])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_Diseases_Patients_PatientUuid]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_Diseases_Staffs_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Staffs] ([StaffUuid])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_Diseases_Staffs_DoctorId]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_Diseases_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_Diseases_Users_AddedById]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_Diseases_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_Diseases_Users_UpdatedById]
GO
ALTER TABLE [dbo].[DiseaseTypes]  WITH CHECK ADD  CONSTRAINT [FK_DiseaseTypes_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[DiseaseTypes] CHECK CONSTRAINT [FK_DiseaseTypes_Users_AddedById]
GO
ALTER TABLE [dbo].[DiseaseTypes]  WITH CHECK ADD  CONSTRAINT [FK_DiseaseTypes_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[DiseaseTypes] CHECK CONSTRAINT [FK_DiseaseTypes_Users_UpdatedById]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Diseases_DiseaseId] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([DiseaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Diseases_DiseaseId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_ImageTypes_ImageTypeId] FOREIGN KEY([ImageTypeId])
REFERENCES [dbo].[ImageTypes] ([ImageTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_ImageTypes_ImageTypeId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Staffs_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([StaffId])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Staffs_StaffId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Users_AddedById]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Users_UpdatedById]
GO
ALTER TABLE [dbo].[ImageTypes]  WITH CHECK ADD  CONSTRAINT [FK_ImageTypes_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[ImageTypes] CHECK CONSTRAINT [FK_ImageTypes_Users_AddedById]
GO
ALTER TABLE [dbo].[ImageTypes]  WITH CHECK ADD  CONSTRAINT [FK_ImageTypes_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[ImageTypes] CHECK CONSTRAINT [FK_ImageTypes_Users_UpdatedById]
GO
ALTER TABLE [dbo].[OsStatuss]  WITH CHECK ADD  CONSTRAINT [FK_OsStatuss_OsSections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[OsSections] ([SectionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OsStatuss] CHECK CONSTRAINT [FK_OsStatuss_OsSections_SectionId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Staffs_InChargeuUud] FOREIGN KEY([InChargeuUud])
REFERENCES [dbo].[Staffs] ([StaffUuid])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Staffs_InChargeuUud]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users_AddedById]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users_PatientUuid] FOREIGN KEY([PatientUuid])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users_PatientUuid]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users_UpdatedById]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Diseases_DiseaseId] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([DiseaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Diseases_DiseaseId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Users_AddedById]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Users_UpdatedById]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users_AddedById]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users_StaffUuid] FOREIGN KEY([StaffUuid])
REFERENCES [dbo].[Users] ([UserUuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users_StaffUuid]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users_UpdatedById]
GO
ALTER TABLE [dbo].[StatementItems]  WITH CHECK ADD  CONSTRAINT [FK_StatementItems_Diseases_DiseaseId] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([DiseaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StatementItems] CHECK CONSTRAINT [FK_StatementItems_Diseases_DiseaseId]
GO
ALTER TABLE [dbo].[StatementItems]  WITH CHECK ADD  CONSTRAINT [FK_StatementItems_Statements_StatementId] FOREIGN KEY([StatementId])
REFERENCES [dbo].[Statements] ([StatementId])
GO
ALTER TABLE [dbo].[StatementItems] CHECK CONSTRAINT [FK_StatementItems_Statements_StatementId]
GO
ALTER TABLE [dbo].[StatementItems]  WITH CHECK ADD  CONSTRAINT [FK_StatementItems_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[StatementItems] CHECK CONSTRAINT [FK_StatementItems_Users_AddedById]
GO
ALTER TABLE [dbo].[StatementItems]  WITH CHECK ADD  CONSTRAINT [FK_StatementItems_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[StatementItems] CHECK CONSTRAINT [FK_StatementItems_Users_UpdatedById]
GO
ALTER TABLE [dbo].[Statements]  WITH CHECK ADD  CONSTRAINT [FK_Statements_OsStatuss_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OsStatuss] ([StatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Statements] CHECK CONSTRAINT [FK_Statements_OsStatuss_StatusId]
GO
ALTER TABLE [dbo].[Statements]  WITH CHECK ADD  CONSTRAINT [FK_Statements_Patients_PatientUuid] FOREIGN KEY([PatientUuid])
REFERENCES [dbo].[Patients] ([PatientUuid])
GO
ALTER TABLE [dbo].[Statements] CHECK CONSTRAINT [FK_Statements_Patients_PatientUuid]
GO
ALTER TABLE [dbo].[Statements]  WITH CHECK ADD  CONSTRAINT [FK_Statements_Users_AddedById] FOREIGN KEY([AddedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Statements] CHECK CONSTRAINT [FK_Statements_Users_AddedById]
GO
ALTER TABLE [dbo].[Statements]  WITH CHECK ADD  CONSTRAINT [FK_Statements_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([UserUuid])
GO
ALTER TABLE [dbo].[Statements] CHECK CONSTRAINT [FK_Statements_Users_UpdatedById]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USERS_FROM_ASPNETUSER]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_USERS_FROM_ASPNETUSER]
    @UserId UNIQUEIDENTIFIER -- The UserId to delete from the Users table
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Delete from Users table based on the AspNetUsers table
        DELETE FROM [dbo].[Users]
        WHERE [UserUuid] = @UserId;

    END TRY
    BEGIN CATCH
        -- If an error occurs, capture the error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorNumber INT;
        
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorNumber = ERROR_NUMBER();
        
        -- You can log the error or raise an error with a custom message
        RAISERROR('Error occurred while deleting user: %s, Error Number: %d', 16, 1, @ErrorMessage, @ErrorNumber);
        
        -- Optionally, you can return a custom error code or message
        RETURN -1; -- Custom error code
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_USERS_FROM_ASPNETUSER]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_USERS_FROM_ASPNETUSER]
    @UserId UNIQUEIDENTIFIER -- The UserId to insert from AspNetUsers to Users
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Insert into Users table based on the AspNetUsers table
        INSERT INTO [dbo].[Users] (
            [UserUuid],
            [FirstName],
            [LastName],
            [Address],
            [PhoneNo],
            [IsApproved],
            [UserName],
            [NormalizedUserName],
            [Email],
            [NormalizedEmail],
            [EmailConfirmed],
            [LockoutEnd],
            [LockoutEnabled],
            [AccessFailedCount],
            [ProfilePicPath],
            [AddedDate]
        )
        SELECT 
            [Id],
            [FirstName],
            [LastName],
            [Address],
            [PhoneNo],
            [IsApproved],
            [UserName],
            [NormalizedUserName],
            [Email],
            [NormalizedEmail],
            [EmailConfirmed],
            [LockoutEnd],
            [LockoutEnabled],
            [AccessFailedCount],
            [ProfilePicPath],
            GETDATE()  -- Set the current date as AddedDate
        FROM [dbo].[AspNetUsers]
        WHERE [Id] = @UserId;

    END TRY
    BEGIN CATCH
        -- If an error occurs, capture the error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorNumber INT;
        
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorNumber = ERROR_NUMBER();
        
        -- You can log the error or raise an error with a custom message
        RAISERROR('Error occurred while inserting user: %s, Error Number: %d', 16, 1, @ErrorMessage, @ErrorNumber);
        
        -- Optionally, you can return a custom error code or message
        RETURN -1; -- Custom error code
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PATIENT_TOTAL]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_UPDATE_PATIENT_TOTAL]
    @PatientUuid UNIQUEIDENTIFIER -- The PatientUuid to calculate total cost from the Statements table
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Declare a variable to hold the total cost
        DECLARE @TotalCost DECIMAL(18, 2);
        DECLARE @PatientUuidStr NVARCHAR(36); -- Variable to hold the PatientUuid as a string

        -- Convert the PatientUuid to a string format
        SET @PatientUuidStr = CAST(@PatientUuid AS NVARCHAR(36));

        -- Calculate the sum of TotalCost from Statements for the given PatientUuid
        SELECT @TotalCost = SUM(TotalCost)
        FROM [dbo].[Statements]
        WHERE PatientUuid = @PatientUuid;

        -- If the Patient exists, update their TotalCost
        IF EXISTS (SELECT 1 FROM [dbo].[Patients] WHERE PatientUuid = @PatientUuid)
        BEGIN
            UPDATE [dbo].[Patients]
            SET TotalCost = @TotalCost
            WHERE PatientUuid = @PatientUuid;
        END
        ELSE
        BEGIN
            -- If the Patient doesn't exist, raise an error with the PatientUuid as a string
            RAISERROR('Patient not found with PatientUuid: %s', 16, 1, @PatientUuidStr);
        END
    END TRY
    BEGIN CATCH
        -- If an error occurs, capture the error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorNumber INT;
        
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorNumber = ERROR_NUMBER();
        
        -- Log the error or raise an error with a custom message
        RAISERROR('Error occurred while calculating and updating patient total cost: %s, Error Number: %d', 16, 1, @ErrorMessage, @ErrorNumber);
        
        -- Optionally, return a custom error code or message
        RETURN -1; -- Custom error code for failure
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_STATEMENT_TOTAL]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UPDATE_STATEMENT_TOTAL]
    @StatementId INT -- The StatementId to calculate and update the total cost in the Statements table
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Declare a variable to hold the total cost
        DECLARE @TotalCost DECIMAL(18, 2);

        -- Calculate the sum of TotalCost from StatementItems for the given StatementId
        SELECT @TotalCost = SUM(TotalCost)
        FROM [dbo].[StatementItems]
        WHERE StatementId = @StatementId;

        -- If the Statement exists, update its TotalCost
        IF EXISTS (SELECT 1 FROM [dbo].[Statements] WHERE StatementId = @StatementId)
        BEGIN
            UPDATE [dbo].[Statements]
            SET TotalCost = @TotalCost
            WHERE StatementId = @StatementId;
        END
        ELSE
        BEGIN
            -- If the Statement doesn't exist, raise an error
            RAISERROR('Statement not found with StatementId: %d', 16, 1, @StatementId);
        END
    END TRY
    BEGIN CATCH
        -- If an error occurs, capture the error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorNumber INT;
        
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorNumber = ERROR_NUMBER();
        
        -- Log the error or raise an error with a custom message
        RAISERROR('Error occurred while calculating and updating statement total cost: %s, Error Number: %d', 16, 1, @ErrorMessage, @ErrorNumber);
        
        -- Optionally, return a custom error code or message
        RETURN -1; -- Custom error code for failure
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USERS_FROM_ASPNETUSER]    Script Date: 6/28/2025 9:03:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UPDATE_USERS_FROM_ASPNETUSER]
    @UserId UNIQUEIDENTIFIER -- The UserId that you want to update
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Update the Users table based on the changes in the AspNetUsers table
        UPDATE [dbo].[Users]
        SET 
            [FirstName] = ANU.[FirstName],
            [LastName] = ANU.[LastName],
            [Address] = ANU.[Address],
            [PhoneNo] = ANU.[PhoneNo],
            [IsApproved] = ANU.[IsApproved],
            [UserName] = ANU.[UserName],
            [NormalizedUserName] = ANU.[NormalizedUserName],
            [Email] = ANU.[Email],
            [NormalizedEmail] = ANU.[NormalizedEmail],
            [EmailConfirmed] = ANU.[EmailConfirmed],
            [LockoutEnd] = ANU.[LockoutEnd],
            [LockoutEnabled] = ANU.[LockoutEnabled],
            [AccessFailedCount] = ANU.[AccessFailedCount],
            [ProfilePicPath] = ANU.[ProfilePicPath],
            [UpdatedDate] = GETDATE()
        FROM [dbo].[Users] U
        INNER JOIN [dbo].[AspNetUsers] ANU ON U.[UserUuid] = ANU.[Id]
        WHERE ANU.[Id] = @UserId;

    END TRY
    BEGIN CATCH
        -- If an error occurs, capture the error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorNumber INT;
        
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorNumber = ERROR_NUMBER();
        
        -- You can log the error or raise an error with a custom message
        RAISERROR('Error occurred while updating user: %s, Error Number: %d', 16, 1, @ErrorMessage, @ErrorNumber);
        
        -- Optionally, you can return a custom error code or message
        RETURN -1; -- Custom error code
    END CATCH
END;
GO
USE [master]
GO
