<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Layout/_HeaderTag")
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">

    <main class="d-flex w-100 h-100">
        @RenderBody()
    </main>

    @await Html.PartialAsync("Layout/_MainScripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>