@using Web.Helper

@{
	var currentUser = UserHelper.GetCurrentUser();
}

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="sidebar-brand-text gap-2 d-flex align-items-center justify-content-center">
				<span>HealthCare</span>
				<small class="badge bg-primary text-uppercase">IMS</small>
			</span>
			<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewbox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
				<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
				<path d="M20 12L12 16L4 12"></path>
				<path d="M20 16L12 20L4 16"></path>
			</svg>
		</a>

		<div class="sidebar-user">
			<div class="d-flex justify-content-center">
				<div class="flex-shrink-0">
					<img src="~/img/general/new-unknown-pic.jpeg" class="avatar img-fluid rounded-circle me-1" alt="profile pic">
				</div>
				<div class="flex-grow-1 ps-2">
					<a class="sidebar-user-title">@currentUser.FullName</a>
					<div class="sidebar-user-subtitle">
						@if (currentUser.Roles.Any())
						{
							@for (var i= 0; i < currentUser.Roles.Count; i++)
							{
								<span>@currentUser.Roles[i]</span>
								@if(currentUser.Roles.Count > 1 && i != currentUser.Roles.Count-1)
								{
									<span>,</span>
								}
							}
						}
						else
						{
							<small><i>No roles assigned</i></small>
						}
					</div>
				</div>
			</div>
		</div>

		@*----- Home Menu items -----*@
		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Home
			</li>
			<li class="sidebar-item active">
				<a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
					<i class="align-middle" data-feather="sliders"></i> 
					<span class="align-middle">Dashboard</span>
				</a>
				<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
					<li class="sidebar-item active"><a class="sidebar-link" href="index.html">Analytics</a></li>
				</ul>
			</li>

			<li class="sidebar-item">
				<a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="layout"></i> <span class="align-middle">Pages</span>
				</a>
				<ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="pages-settings.html">Settings</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="pages-chat.html">Chat <span class="sidebar-badge badge bg-primary">Pro</span></a></li>
				</ul>
			</li>

			@*----- Addvanced Menu items -----*@
			<li class="sidebar-header">
				Advanced
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#setting" data-bs-toggle="collapse" class="sidebar-link">
					<i class="align-middle" data-feather="settings"></i>
					<span class="align-middle">Setting</span>
				</a>
				<ul id="setting" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="User" asp-action="Index">Users</a></li>
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="Role" asp-action="Index">Roles</a></li>
				</ul>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-profile.html">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
				</a>
			</li>
		</ul>
	</div>
</nav>		