@using Web.Models.Account
@using Web.Helper

@model UserVM

<div>
	<div class="mb-3 d-flex align-items-center justify-content-between flex-wrap">
		<h4 class="tab-title text-black">User informations</h4>
		<button class="btn btn-sm btn-primary" id="@ButtonId.UserEdit">Edit</button>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget condimentum
		rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
		In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
	</p>
</div>