@using Web.Models.Settings
@using Web.Helper

@model DiseaseTypeVM

<form asp-controller="Settings" asp-action="AddEditDiseaseType" method="post">
    <input type="hidden" asp-for="DiseaseTypeId" />

    <div class="row mb-3">
        <div asp-validation-summary="ModelOnly"></div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="TypeName" class="@FormHelper.lblRequired">Type Name</label>
            <input type="text" class="form-control" asp-for="TypeName" required/>
            <span asp-validation-for="TypeName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Description">Description</label>
            <textarea type="text" class="form-control" asp-for="Description" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label asp-for="Comments">Comment</label>
            <textarea type="text" class="form-control" asp-for="Comments" rows="3"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
    </div>
</form>